.page {
    width: 48.5%;
}

.containerScroll {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: auto;
    height: 460px;
}

.ingridientsBun {
    min-height: 50px;
}

.ingridients {
    display: flex;
    align-items: center;
}

.checkout {
    display: flex;
    justify-content: flex-end;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.onHover {
    border: solid green;
    border-radius: 5%;
}

.onHoverBun {
    border: solid green;
    width: 536px;
    background-color: #1C1C21;
    min-height: 80px;
    border-radius: 88px 88px 40px 40px;
}

.defaultBun {
    width: 536px;
    background-color: #1C1C21;
    min-height: 80px;
    border-radius: 88px 88px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.defaultItems{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}