.content {
    display: flex;
    width: 860px;
    margin-left: 380px;
    margin-top: 120px;
}

.navigation {
    height: 100%;
    max-width: 320px;
}


.text {
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

