.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  max-width: 1920px;
}

.main{
  display: flex;
  width: 64.59%;
  gap: 40px;
  margin: 0 auto;
}